.image {
    max-width: 280px;
    max-height: 400px;

    &images {
        max-width: 340px;
        max-height: 460px;
    }
}

img.animated-gif{
    width: 500px;
    height: auto;
  }

#images2{
    max-width: 300px;
    max-height: 420px;
}