
.nav {
    display: flex;
    justify-content: space-between;
    width: 420px;
    margin-top: 5rem;
    margin-bottom: 5rem;

    &__item {
        color: $font-color-primary;
        font-size: $font-size-nav;
        text-decoration: none;
        position: relative;
        &:hover {
            color: $color-secondary;
            animation: toTop;
            animation-duration: 1s;
        }
    }
}